In [15]:
create database lib_db

: Msg 1801, Level 16, State 3, Line 1
Database 'lib_db' already exists. Choose a different database name.

In [2]:
use lib_db

In [29]:
CREATE TABLE publishers
    (
        id VARCHAR(100) PRIMARY KEY, 
        name VARCHAR(100) NOT NULL,
        address VARCHAR(100) NOT NULL,
        website VARCHAR(100) NOT NULL
    );

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'publishers' in the database.

In [30]:
CREATE TABLE books 
    (
        id VARCHAR(100) PRIMARY KEY,
        title VARCHAR(100) NOT NULL
    );

In [31]:
CREATE TABLE isbns
    (
        isbn VARCHAR(100) PRIMARY KEY,
        format VARCHAR(100) NOT NULL,
        price INT NOT NULL,
        cover VARCHAR(100) NOT NULL,
        book_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES books(id),
        publisher_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES publishers(id)
    )

In [32]:
CREATE TABLE reviewers
    (
        id VARCHAR(100) PRIMARY KEY,
        name VARCHAR(100) NOT NULL,
        email VARCHAR(100) UNIQUE NOT NULL
    );

In [33]:
CREATE TABLE reviews
    (
        book_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES books(id),
        reviewer_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES reviewers(id),
        title VARCHAR(100) NOT NULL,
        details VARCHAR(100) NOT NULL,
        rating INT NOT NULL,
        PRIMARY KEY (book_id, reviewer_id)
    );

In [34]:
INSERT INTO publishers
    (
        id,
        name, 
        address,
        website
    )
VALUES
    (
        'aksharan',
        'Aksharan',
        'pune',
        'web1'
    ),
    (
        'lost-epic',
        'Lost Epic',
        'bangalore',
        'web2'
    ),
    (
        'edu-world',
        'Edu World',
        'delhi',
        'web3'
    ),
    (
        'penguin',
        'Penguin',
        'london',
        'web4'
    )

In [35]:
INSERT into books
    (
        id,
        title
    )
VALUES
    (
        'manas',
        'Manas'
    ),
    (
        'the-accursed-god',
        'The Accursed God'
    ),
    (
        'rashmirathi',
        'Rashmirathi'
    );

In [36]:
INSERT INTO isbns 
    (
        isbn,
        format,
        price,
        cover,
        book_id,
        publisher_id
    )
VALUES
    (
        '11234',
        'paperback',
        299,
        'manas_pb',
        'manas',
        'aksharan'
    ),
    (
        '11235',
        'ebook',
        49,
        'manas_f',
        'manas',
        'lost-epic'
    ),
    (
        '11236',
        'paperback',
        399,
        'tag',
        'the-accursed-god',
        'edu-world'
    ),
    (
        '11237',
        'ebook',
        119,
        'tag',
        'the-accursed-god',
        'lost-epic'
         ),
    (
        '11238',
        'ebook',
        159,
        'rashimirathi',
        'rashmirathi',
        'penguin'
    );

In [37]:
INSERT into reviewers
    (
        id,
        name,
        email
    )
VALUES
    (
        1,
        'Jyothi',
        'jyothi@ecolab.com'
    ),
    (
        2,
        'Stephan',
        'stephani@google.com'
    ),
    (
        3,
        'Steve',
        'steve@outlook.com'
    ),
    (
        4,
        'John',
        'john@google.com'
    );

In [38]:
INSERT into reviews
    (
        book_id,
        reviewer_id,
        title,
        details,
        rating
    )
VALUES
    (
        'manas',
        1,
        'interesting one',
        'details 1',
        4
    ),
    (
        'manas',
        4,
        'good',
        'details 2',
        3
    ),
    (
        'the-accursed-god',
        1,
        'must read',
        'details 1',
        5
    ),
    (
        'the-accursed-god',
        2,
        'amazing',
        'details 2',
        4
    ),
    (
        'rashmirathi',
        3,
        'not worth reading',
        'details 1',
        2
    );